<div style="margin-top:10%;">
    <div data-flex-layout="column center-center">
        <div>
        <h1>Register a historical building or an artwork</h1>
        This template is uses next parameters set: 'localSourcesOnly' 
        <semantic-form new-subject-template='http://www.example.com/dictionary/id/{{UUID}}'
            post-action='redirect'
            browser-persistence=true
            form-id='example-1'
            fields='[ [[> formFields]] ]'>
            <bs-panel>
                <semantic-form-recover-notification></semantic-form-recover-notification>
                <semantic-form-text-input for='label'></semantic-form-text-input>
                <semantic-form-autocomplete-input for='partOf'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://schema.swissartresearch.net/ontology/rds#BuiltWork",
                        "limit": 20
                    }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <semantic-form-autocomplete-input for='hasPart'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://schema.swissartresearch.net/ontology/rds#Group",
                        "limit": 20
                    }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <semantic-form-autocomplete-input for='movement'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://vocab.getty.edu/ontology#Concept",
                        "limit": 20
                        }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <semantic-form-autocomplete-input for='country'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://schema.swissartresearch.net/ontology/rds#Group",
                        "limit": 20
                        }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <semantic-form-autocomplete-input for='location'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://schema.swissartresearch.net/ontology/rds#Place",
                        "limit": 20
                        }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <semantic-form-autocomplete-input for='creator'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
                        "limit": 20
                        }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <semantic-form-autocomplete-input for='material'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://vocab.getty.edu/ontology#Concept",
                        "limit": 20
                        }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <semantic-form-autocomplete-input for='fabricationMethod'
                    value-binding-name="subject"
                    lookup-query='{
                        "type": "lookup",
                        "entityType": "http://vocab.getty.edu/ontology#Concept",
                        "limit": 20
                        }'
                    template='{{> autocompletionTemplate}}'>
                    [[> autocompletionTemplate]]
                </semantic-form-autocomplete-input>
                <button name="submit" class="btn btn-default">Save</button>
                <button name="reset" class="btn btn-default">Reset</button>
                </bs-panel>
        </semantic-form>
        </div>
    </div>
</div>

[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> mpp:LookupCandidateTemplate]]
</template>
[[/inline]]
  
[[#*inline "formFields"]]
{
    "id": "label",
    "label": "label",
    "xsdDatatype": "xsd:string",
    "minOccurs": "1",
    "maxOccurs": "1",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.w3.org/2000/01/rdf-schema#label> $value .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.w3.org/2000/01/rdf-schema#label> $value .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.w3.org/2000/01/rdf-schema#label> $value .
    } WHERE {}"
},
{
    "id": "partOf",
    "label": "Part of",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P361> $value .
        $value <http://www.wikidata.org/prop/direct/P527> $subject .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P361> $value .
        $value <http://www.wikidata.org/prop/direct/P527> $subject .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P361> $value .
        $value <http://www.wikidata.org/prop/direct/P527> $subject .
    } WHERE {}"
},
{
    "id": "hasPart",
    "label": "Has part",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P527> $value .
        $value <http://www.wikidata.org/prop/direct/P361> $subject .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P527> $value .
        $value <http://www.wikidata.org/prop/direct/P361> $subject .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P527> $value .
        $value <http://www.wikidata.org/prop/direct/P361> $subject .
    } WHERE {}"
},
{
    "id": "movement",
    "label": "Movement",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P135> $value .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P135> $value .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P135> $value .
    } WHERE {}"
},
{
    "id": "country",
    "label": "Country",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P17> $value .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P17> $value .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P17> $value .
    } WHERE {}"
},
{
    "id": "location",
    "label": "Location",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P276> $value .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P276> $value .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P276> $value .
    } WHERE {}"
},
{
    "id": "creator",
    "label": "Creator",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P170> $value .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P170> $value .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P170> $value .
    } WHERE {}"
},
{
    "id": "material",
    "label": "Material used",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P186> $value .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P186> $value .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P186> $value .
    } WHERE {}"
},
{
    "id": "fabricationMethod",
    "label": "Fabrication method",
    "xsdDatatype": "xsd:anyURI",
    "minOccurs": "0",
    "selectPattern": "SELECT $value WHERE {
        $subject <http://www.wikidata.org/prop/direct/P2079> $value .
    }",
    "insertPattern": "INSERT {
        $subject <http://www.wikidata.org/prop/direct/P2079> $value .
    } WHERE {}",
    "deletePattern": "DELETE {
        $subject <http://www.wikidata.org/prop/direct/P2079> $value .
    } WHERE {}"
}
[[/inline]]